@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Nunito:wght@200&display=swap');

*{
    font-family: 'Kurale', serif;
}
main{
    width: 428px;
    height: 926px;
    background-color: black;
    margin: 0 auto;
    color: white;
    position: relative;

    

}
.container{
    margin: 12px;
    
    
    
    
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav button{
    margin-top: 10px;
    

    
}
.category{
    height: 120px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    
}
/*Add scroll bar in chrome*/
.category::-webkit-scrollbar{
    display: none;
}
/*Add scroll bar in firefox*/
.category{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.category button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.Fav-Artist{
    width: 100%;
    height: 200px;
    border: solid 1px rgba(239, 240, 238, 0.39);
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    grid-gap: 12px;
    margin-bottom: 12px;
    overflow: hidden;
    overflow-y: auto;
}
/*Add scroll bar in chrome*/
.Fav-Artist::-webkit-scrollbar{
    display: none;
}
/*Add scroll bar in firefox*/
.Fav-Artist{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.artist-profile{
    margin-top: 12px;
    height: 80px;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
  

}

.artist-profile img{
    position: absolute;
    top: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin:0 auto;
    
    
}
.artist-profile h4{
    display: inline-block;
    position: absolute;
    top: 55%;
   
}
.mixes{
    background-color: brown;
    width: 100%;
    height: 250px;
    border: solid 1px rgba(239, 240, 238, 0.39);
    border-radius: 12px;
    display:flex;
    flex-direction: row;
    overflow: hidden;
    
    margin-bottom: 12px;
    overflow: hidden;
    overflow-x: auto;
}
/*Add scroll bar in chrome*/
.mixes::-webkit-scrollbar{
    display: none;
}
/*Add scroll bar in firefox*/
.mixes{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mix-profile img{
    
    top: 0;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    margin:0 auto;
}



.footer{
   
    position: absolute;
    margin-bottom: 12px;
    margin: 0;
    bottom:0;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer button{
    width: 50px;
    height: 50px;
    background-color: rgba(145, 141, 141, 0);
    margin-left: 12px;
    margin-bottom: 12px;
    border: none;
    
    
}
nav button{
    width: 50px;
    height: 50px;
    background-color: rgba(145, 141, 141, 0);
    margin-left: 12px;
    margin-bottom: 12px;
    border: none;
}
nav button:hover{
    transform: scale(1.2);
    color: white;
}
footer button:hover{
    transform: scale(1.2);
    color: white !important;
}
/* buttons icons styling*/
i{
    font-size: 35px !important;
    color: rgb(228, 226, 226);
}